<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MODIFY</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/board_write.css">
    <link rel="stylesheet" href="../css/board_modify.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  </head>
  <body>
    <form class="" action="" method="post">

      <div class="modal">

        <div class="modal_box">
          <div class="cancle_box">
            <a href="#">X</a>
          </div>
          <h3>게시물을 <span class="green">수정</span>하시겠습니까?</h3>
          <div class="input_box">
            <input type="password" name="" placeholder="게시글 비밀번호 입력" class="pw_input"></br>
            <input type="button" name="" value="SUBMIT" class="pw_submit">
          </div>

        </div>

      </div>

      <div class="container2">
        <h2>게시판1</h2>
        <table>

            <tr><th>제목</th><td><input type="text" name="" value="" class="input"></td></tr>
            <tr><th>내용</th><td><textarea name="name" class="textarea"></textarea></td></tr>
            <tr><th rowspan="3">첨부파일</th><td class="file_td">파일명1<input type="button" name="" value="삭제" class="del_btn"></td></tr>
            <tr><td class="file_td">파일명1<input type="button" name="" value="삭제" class="del_btn"></td></tr>
            <tr><td class="file_td">파일명1<input type="button" name="" value="삭제" class="del_btn"></td></tr>


        </table>
        <div class="write_btn">
          <input type="button" name="writeBtn" value="완료" class="writeBtn">
          <input type="button" name="writeBtn" value="취소" class="writeBtn">
        </div>
      </div>
    </form>


  </body>
</html>
