h2{
  text-align: center;
  margin: 100px;
  margin-top: 170px;
}

table{
  width: 100%;
}
th{
  width: 20%;
}
th, td{
  padding: 10px;
  border: 1px solid #ddd;
}


.write_btn{
  padding-top: 10px;
  text-align: right;
}
.writeBtn{
  width: 200px;
  height: 40px;
  background-color: rgb(73, 153, 182); /*吏꾪븳珥덈줉*/
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color:#fff;
  line-height: 30px;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
}
.yellow{
  background-color: rgb(254,253,163); /*�끂�옉*/
  color:#000;
}
.comment_box{
  width: 100%;
  border: 1px solid #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 5px;
}
.comment_input{
  width: 99%;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;

}
.comment_output{
  width: 100%;
  border: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
}
.user_btns{
  padding-top: 20px;
  text-align: center;
}
.user_menu{
  margin-top: 80px;
  border-top: 1px solid #ddd;
  margin-bottom: 200px;
}

.modal{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  display:block;
  z-index: 555;

}
.modal_box{
  width: 520px;
  height: 350px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.cancle_box{
  background-color:rgb(73, 153, 182); /*吏꾪븳珥덈줉*/
  padding: 5px;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
.cancle_box>a{
  color: #fff;
}
h3{
  text-align: center;
  margin-top: 60px;
}
.green{
  color:rgb(73, 153, 182); /*吏꾪븳珥덈줉*/
}
.input_box{
  text-align: center;
  padding-top: 50px;
}
.pw_input{
  width: 410px;
  height: 30px;
  border: 1px solid #ddd;
  padding: 5px;
}
.pw_submit{
  width: 423px;
  height: 40px;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: rgb(73, 153, 182); /*吏꾪븳珥덈줉*/
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
}

.org{

	float:left;
}
.str{
	
	float:left;
}
.str_green{
	color: rgb(73, 153, 182);
}

.comment{
	padding: 10px;
}
.comment>li{
	padding: 15px;
}
.comment>li>h5{
	margin-bottom: 10px;
	color: rgb(73, 153, 182);
}
.cont{
	font-size: 14px;
	margin-bottom: 5px;
}
.regi{
	font-size: 12px;
	color: #ddd;
	margin-bottom: 10px;
	
}

.delComment{
	width: 50px;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;

}